<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="description" content="Fabulous is a creative, clean, fully responsive, powerful and multipurpose HTML Template with latest website trends. Perfect to all type of fashion stores.">
  <meta name="keywords" content="HTML,CSS,womens clothes,fashion,mens fashion,fashion show,fashion week">
  <meta name="author" content="JTV">

<title>Fabulous - Multipurpose Online Marketplace HTML Template</title>

<!-- Favicons Icon -->
<link rel="icon" href="images/img/LOGO3.png" type="image/x-icon" />

<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS Style -->
<link rel="stylesheet" type="text/css" href="css/styles.css" media="all">
</head>

<body>
<!-- Mobile Menu -->
<div id="jtv-mobile-menu">
  <ul>
    <li>
      <div class="mm-search">
        <form id="mob-search" name="search">
          <div class="input-group">
            <div class="input-group-btn">
              <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li><a href="index.html">Home</a>
     
    </li>
    <li><a href="#">Pages</a>
      <ul>
        <li><a href="shop-shop-grid-sidebar.html">Shop Grid</a></li>
        <li><a href="shop-grid-sidebar.html">Shop Grid Sidebar</a></li>
        <li><a href="shop-shop-list-sidebar.html">Shop List</a></li>
        <li><a href="shop-list-sidebar.html">Shop List Sidebar</a></li>
        <li><a href="product-detail.html">Product Detail</a></li>
        <li><a href="product-detail-sidebar.html">Product Detail Sidebar</a></li>
        <li><a href="shopping-cart.html">Shopping Cart</a></li>
        <li><a href="checkout.html">Checkout</a></li>
        <li><a href="wishlist.html">Wishlist</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="compare.html">Compare Products</a></li>
        <li><a href="complete-order.html">Complete Order</a></li>
                                  <li><a href="my-account-information.html">Account Information</a></li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="blog.html">Blog</a>
          <ul>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog-archive.html">Blog Archive</a></li>
            <li><a href="blog_single_post.html">Blog Single</a></li>
          </ul>
        </li>
        <li><a href="team.html">Team</a></li>
        <li><a href="contact.html">Contact us</a></li>
        <li><a href="404error.html">404 Error Page</a></li>
      </ul>
    </li>
    <li><a href="#">Men's</a>
      <ul>
        <li><a href="#">Jackets</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Coats</a></li>
            <li><a href="shop-grid-sidebar.html">Outerwear</a></li>
            <li><a href="shop-grid-sidebar.html">Bags</a></li>
            <li><a href="shop-grid-sidebar.html">Dresses</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Watches</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Fastrack</a></li>
            <li><a href="shop-grid-sidebar.html">Casio</a></li>
            <li><a href="shop-grid-sidebar.html">Sonata</a></li>
            <li><a href="shop-grid-sidebar.html">Maxima</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Footwear</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Sports</a></li>
            <li><a href="shop-grid-sidebar.html">Flat Sandals</a></li>
            <li><a href="shop-grid-sidebar.html">Casual</a></li>
            <li><a href="shop-grid-sidebar.html">Sneakers</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Jwellery</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Bracelets</a></li>
            <li><a href="shop-grid-sidebar.html">Necklaces &amp; Pendent</a></li>
            <li><a href="shop-grid-sidebar.html">Pendants</a></li>
            <li><a href="shop-grid-sidebar.html">Pins &amp; Brooches</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Suits</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Casual Dresses</a></li>
            <li><a href="shop-grid-sidebar.html">Evening</a></li>
            <li><a href="shop-grid-sidebar.html">Designer</a></li>
            <li><a href="shop-grid-sidebar.html">Party</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Accessories</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Trousers</a></li>
            <li><a href="shop-grid-sidebar.html">Jeans</a></li>
            <li><a href="shop-grid-sidebar.html">Clothing</a></li>
            <li><a href="shop-grid-sidebar.html">Shirts</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="shop-grid-sidebar.html">Women's </a>
      <ul>
        <li><a href="shop-grid-sidebar.html">Clothing</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Dress sale</a></li>
            <li><a href="shop-grid-sidebar.html">Sarees</a></li>
            <li><a href="shop-grid-sidebar.html">Kurta & kurti</a></li>
            <li><a href="shop-grid-sidebar.html">Dress materials</a></li>
            <li><a href="shop-grid-sidebar.html">Salwar kameez sets</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Jewellery</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Rings</a></li>
            <li><a href="shop-grid-sidebar.html">Earrings</a></li>
            <li><a href="shop-grid-sidebar.html">Jewellery sets</a></li>
            <li><a href="shop-grid-sidebar.html">Pendants & lockets</a></li>
            <li><a href="shop-grid-sidebar.html">Plastic jewellery</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Beauty</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Make up</a></li>
            <li><a href="shop-grid-sidebar.html">Hair care</a></li>
            <li><a href="shop-grid-sidebar.html">Deodorants</a></li>
            <li><a href="shop-grid-sidebar.html">Bath & body</a></li>
            <li><a href="shop-grid-sidebar.html">Skin care</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Watches</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Fasttrack</a></li>
            <li><a href="shop-grid-sidebar.html">Casio</a></li>
            <li><a href="shop-grid-sidebar.html">Titan</a></li>
            <li><a href="shop-grid-sidebar.html">Tommy-Hilfiger</a></li>
            <li><a href="shop-grid-sidebar.html">Fossil</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Footwear</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Flats</a></li>
            <li><a href="shop-grid-sidebar.html">Heels</a></li>
            <li><a href="shop-grid-sidebar.html">Boots</a></li>
            <li><a href="shop-grid-sidebar.html">Slippers</a></li>
            <li><a href="shop-grid-sidebar.html">Shoes</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Accesories</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Backpacks</a></li>
            <li><a href="shop-grid-sidebar.html">Wallets</a></li>
            <li><a href="shop-grid-sidebar.html">Laptops Bags</a></li>
            <li><a href="shop-grid-sidebar.html">Belts</a></li>
            <li><a href="shop-grid-sidebar.html">Handbags</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="shop-grid-sidebar.html">Kids</a>
      <ul>
        <li><a href="shop-grid-sidebar.html">Clothing</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">T-Shirts</a></li>
            <li><a href="shop-grid-sidebar.html">Shirts</a></li>
            <li><a href="shop-grid-sidebar.html">Trousers</a></li>
            <li><a href="shop-grid-sidebar.html">Sleep Wear</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Accesories</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Backpacks</a></li>
            <li><a href="shop-grid-sidebar.html">Wallets</a></li>
            <li><a href="shop-grid-sidebar.html">Laptops Bags</a></li>
            <li><a href="shop-grid-sidebar.html">Belts</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Watches</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Fastrack</a></li>
            <li><a href="shop-grid-sidebar.html">Casio</a></li>
            <li><a href="shop-grid-sidebar.html">Titan</a></li>
            <li><a href="shop-grid-sidebar.html">Maxima</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Footwear</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Casual</a></li>
            <li><a href="shop-grid-sidebar.html">Sports</a></li>
            <li><a href="shop-grid-sidebar.html">Formal</a></li>
            <li><a href="shop-grid-sidebar.html">Sandals</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Computer</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">External Hard Disk</a></li>
            <li><a href="shop-grid-sidebar.html">Pendrives</a></li>
            <li><a href="shop-grid-sidebar.html">Headphones</a></li>
            <li><a href="shop-grid-sidebar.html">PC Components</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Appliances</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Vaccum Cleaners</a></li>
            <li><a href="shop-grid-sidebar.html">Indoor Lighting</a></li>
            <li><a href="shop-grid-sidebar.html">Kitchen Tools</a></li>
            <li><a href="shop-grid-sidebar.html">Water Purifier</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="shop-grid-sidebar.html">Accessories </a>
      <ul>
        <li><a href="shop-grid-sidebar.html">Sunglasses</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Over-Sized</a></li>
            <li><a href="shop-grid-sidebar.html">Wayfarer</a></li>
            <li><a href="shop-grid-sidebar.html">Premium Brands</a></li>
            <li><a href="shop-grid-sidebar.html">Uv Glass</a></li>
            <li><a href="shop-grid-sidebar.html">Colores</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Watches</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Fastrack</a></li>
            <li><a href="shop-grid-sidebar.html">Timex</a></li>
            <li><a href="shop-grid-sidebar.html">Titan</a></li>
            <li><a href="shop-grid-sidebar.html">Fossil</a></li>
            <li><a href="shop-grid-sidebar.html">Casio</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Bags & Wallets</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Handbags</a></li>
            <li><a href="shop-grid-sidebar.html">Sling Bags</a></li>
            <li><a href="shop-grid-sidebar.html">Wallets & Belts</a></li>
            <li><a href="shop-grid-sidebar.html">Totes</a></li>
            <li><a href="shop-grid-sidebar.html">Travel Bags</a></li>
          </ul>
        </li>
        <li><a href="shop-grid-sidebar.html">Western Wear</a>
          <ul>
            <li><a href="shop-grid-sidebar.html">Jeans</a></li>
            <li><a href="shop-grid-sidebar.html">Polo's & T-Shirts</a></li>
            <li><a href="shop-grid-sidebar.html">Shirts Tops</a></li>
            <li><a href="shop-grid-sidebar.html">Gymwear</a></li>
            <li><a href="shop-grid-sidebar.html">Sleep Wear</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact-us.html">Contact Us</a></li>
  </ul>
  <div class="top-links">
    <ul class="links">
      <li><a title="My Account" href="my-account.html">My Account</a></li>
      <li><a title="Wishlist" href="wishlist.html">Wishlist</a></li>
      <li><a title="Checkout" href="checkout.html">Checkout</a></li>
      <li><a title="Blog" href="blog.html"><span>Blog</span></a></li>
      <li class="last"><a title="Login" href="login.html"><span>Login</span></a></li>
    </ul>
    <div class="language-box">
      <select class="selectpicker" data-width="fit">
        <option>English</option>
        <option>Francais</option>
        <option>German</option>
        <option>Español</option>
      </select>
    </div>
    <div class="currency-box">
      <form class="form-inline">
        <div class="input-group">
          <div class="currency-addon">
            <select class="currency-selector">
              <option data-symbol="$">USD</option>
              <option data-symbol="€">EUR</option>
              <option data-symbol="£">GBP</option>
              <option data-symbol="¥">JPY</option>
              <option data-symbol="$">CAD</option>
              <option data-symbol="$">AUD</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="page"> 
  
  <!-- Header -->
  <header>
    <div class="header-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3 col-xs-12"> 
            
            <!-- Header Logo -->
            <div class="logo"><a title="ecommerce Template" href="index.html"><img alt="ecommerce Template" src="images/img/Logo2.jpg" style="width: 68%; margin-left: 16%;margin-bottom: -16px;"></a></div>
            <!-- End Header Logo -->
            <div class="nav-icon">
              <div class="mega-container visible-lg visible-md visible-sm">
                <div class="navleft-container">
                  <div class="mega-menu-title">
                    <h3><i class="fa fa-navicon"></i>Categories</h3>
                  </div>
                  <div class="mega-menu-category">
                    <ul class="nav">
                      <li><a href="#">Home</a>
                        <div class="wrap-popup column1">
                          <div class="popup">
                            
                          </div>
                        </div>
                      </li>
                      <li><a href="#">Page</a>
                        <div class="wrap-popup">
                          <div class="popup">
                            <div class="row">
                              <div class="col-sm-4">
                                <ul class="nav">
                                  <li><a href="shop-grid.html"><span>Shop Grid</span></a></li>
                                  <li><a href="shop-grid-sidebar.html"><span>Shop Grid Sidebar</span></a></li>
                                  <li><a href="shop-list.html"><span>Shop List</span></a></li>
                                  <li><a href="shop-list-sidebar.html"><span>Shop List Sidebar</span></a></li>
                                  <li><a href="product-detail.html"><span>Product Detail</span></a></li>
                                  <li><a href="product-detail-sidebar.html"><span>Product Detail Sidebar</span></a></li>
                                  <li><a href="shopping-cart.html"><span>Shopping Cart</span></a></li>
                                </ul>
                              </div>
                              <div class="col-sm-4">
                                <ul class="nav">
                                  <li><a href="checkout.html"><span>Checkout</span></a></li>
                                  <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                                  <li><a href="dashboard.html"><span>Dashboard</span></a></li>
                                  <li><a href="compare.html"><span>Compare</span></a></li>
                                  <li><a href="quick-view.html"><span>Quick View</span></a></li>
                                  <li><a href="complete-order.html">Complete Order</a></li>
                                  <li><a href="my-account-information.html">Account Information</a></li>
                                </ul>
                              </div>
                              <div class="col-sm-4">
                                <ul class="nav">
                                  <li><a href="faq.html"><span>FAQ</span></a></li>
                                  <li><a href="sitemap.html"><span>Sitemap</span></a></li>
                                  <li><a href="track-order.html"><span>Track Order</span></a></li>
                                  <li><a href="register-ac.html"><span>Register Account</span></a></li>
                                  <li><a href="forgot-password.html"><span>Forgot Password</span></a></li>
                                  <li><a href="team.html"><span>Team</span></a></li>
                                  <li><a href="404error.html"><span>404 Error Page</span></a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="#">Men's</a>
                        <div class="wrap-popup">
                          <div class="popup">
                            <div class="row">
                              <div class="col-md-4 col-sm-6">
                                <h3><a href="shop-grid-sidebar.html">Clothing</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">T-Shirts</a></li>
                                  <li><a href="shop-grid-sidebar.html">Shirts</a></li>
                                  <li><a href="shop-grid-sidebar.html">Trousers</a></li>
                                  <li><a href="shop-grid-sidebar.html">Sleep Wear</a></li>
                                </ul>
                                <br>
                                <h3><a href="shop-grid-sidebar.html">Shoes</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">Flat Shoes</a></li>
                                  <li><a href="shop-grid-sidebar.html">Flat Sandals</a></li>
                                  <li><a href="shop-grid-sidebar.html">Boots</a></li>
                                  <li><a href="shop-grid-sidebar.html">Heels</a></li>
                                </ul>
                              </div>
                              <div class="col-md-4 col-sm-6 has-sep">
                                <h3><a href="shop-grid-sidebar.html">Jwellery</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">Bracelets</a></li>
                                  <li><a href="shop-grid-sidebar.html">Necklaces &amp; Pendent</a></li>
                                  <li><a href="shop-grid-sidebar.html">Pendants</a></li>
                                  <li><a href="shop-grid-sidebar.html">Pins &amp; Brooches</a></li>
                                </ul>
                                <br>
                                <h3><a href="shop-grid-sidebar.html">Watches</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">Fastrack</a></li>
                                  <li><a href="shop-grid-sidebar.html">Casio</a></li>
                                  <li><a href="shop-grid-sidebar.html">Sonata</a></li>
                                  <li><a href="shop-grid-sidebar.html">Maxima</a></li>
                                </ul>
                              </div>
                              <div class="col-md-4 has-sep hidden-sm">
                                <div class="custom-menu-right">
                                  <div class="box-banner media">
                                    <div class="add-right"><a href="#"><img src="images/jtv-menu-banner1.jpg" class="img-responsive" alt="New Arrive"></a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                            <a href="#" class="ads"><img src="images/jtv-menu-banner4.jpg" alt="Mega Sale" class="img-responsive"></a> </div>
                        </div>
                      </li>
                      <li><a href="#">Women's</a>
                        <div class="wrap-popup">
                          <div class="popup">
                            <div class="row">
                              <div class="col-md-4 col-sm-6">
                                <h3><a href="shop-grid-sidebar.html">Clothing</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">Dress sale</a></li>
                                  <li><a href="shop-grid-sidebar.html">Sarees</a></li>
                                  <li><a href="shop-grid-sidebar.html">Kurta & kurti</a></li>
                                  <li><a href="shop-grid-sidebar.html">Dress materials</a></li>
                                  <li><a href="shop-grid-sidebar.html">Salwar kameez sets</a></li>
                                </ul>
                                <br>
                                <h3><a href="shop-grid-sidebar.html">Jewellery</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">Rings</a></li>
                                  <li><a href="shop-grid-sidebar.html">Earrings</a></li>
                                  <li><a href="shop-grid-sidebar.html">Jewellery sets</a></li>
                                  <li><a href="shop-grid-sidebar.html">Pendants & lockets</a></li>
                                  <li><a href="shop-grid-sidebar.html">Plastic jewellery</a></li>
                                </ul>
                              </div>
                              <div class="col-md-4 col-sm-6 has-sep">
                                <h3><a href="shop-grid-sidebar.html">Beauty</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">Make up</a></li>
                                  <li><a href="shop-grid-sidebar.html">Hair care</a></li>
                                  <li><a href="shop-grid-sidebar.html">Deodorants</a></li>
                                  <li><a href="shop-grid-sidebar.html">Bath & body</a></li>
                                  <li><a href="shop-grid-sidebar.html">Skin care</a></li>
                                </ul>
                                <br>
                                <h3><a href="shop-grid-sidebar.html">Footwear</a></h3>
                                <ul class="nav">
                                  <li><a href="shop-grid-sidebar.html">Flats</a></li>
                                  <li><a href="shop-grid-sidebar.html">Heels</a></li>
                                  <li><a href="shop-grid-sidebar.html">Boots</a></li>
                                  <li><a href="shop-grid-sidebar.html">Slippers</a></li>
                                  <li><a href="shop-grid-sidebar.html">Shoes</a></li>
                                </ul>
                              </div>
                              <div class="col-md-4 has-sep hidden-sm">
                                <div class="custom-menu-right">
                                  <div class="box-banner media">
                                    <div class="add-desc">
                                      <h3>Top<br>
                                        Glass </h3>
                                      <div class="price-sale">2018</div>
                                      <a href="#">Shop Now</a> </div>
                                    <div class="add-right"><img src="images/jtv-menu-banner2.jpg" alt="Top Glass" class="img-responsive"></div>
                                  </div>
                                  <div class="box-banner media">
                                    <div class="add-desc">
                                      <h3>Save</h3>
                                      <div class="price-sale">35%</div>
                                      <a href="#">Buy Now</a> </div>
                                    <div class="add-right"><img src="images/jtv-menu-banner3.jpg" alt="Save 35%" class="img-responsive"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="nosub"><a href="shop-grid-sidebar.html">Kids</a></li>
                      <li class="nosub"><a href="shop-grid-sidebar.html">Accessories</a></li>
                      <li><a href="blog.html">Blog</a>
                        <div class="wrap-popup column1">
                          <div class="popup">
                            <ul class="nav">
                              <li><a href="blog.html">Blog</a></li>
                              <li><a href="blog-archive.html">Blog Archive</a></li>
                              <li><a href="blog_single_post.html">Blog Single</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class="nosub"><a href="contact.html">Contact Us</a></li>
                    </ul>
                    <div class="side-banner"><img src="images/top-banner.jpg" alt="Flash Sale" class="img-responsive"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-sm-9 col-xs-12 jtv-rhs-header">
            <div class="jtv-mob-toggle-wrap">
              <div class="mm-toggle"><i class="fa fa-reorder"></i><span class="mm-label">Menu</span></div>
            </div>
            <div class="jtv-header-box">
              <div class="search_cart_block">
                <div class="search-box hidden-xs">
                  <form id="search_mini_form" action="#" method="get">
                    <input id="search" type="text" name="q" value="" class="searchbox" placeholder="Search entire store here..." maxlength="128">
                    <button type="submit" title="Search" class="search-btn-bg" id="submit-button"><span class="hidden-sm">Search</span><i class="fa fa-search hidden-xs hidden-lg hidden-md"></i></button>
                  </form>
                </div>
                <div class="right_menu">
                  <div class="menu_top">
                    <div class="top-cart-contain pull-right">
                      <div class="mini-cart">
                        <div class="basket"><a class="basket-icon" href="#"><i class="fa fa-shopping-basket"></i> Shopping Cart <span>3</span></a>
                          <div class="top-cart-content">
                            <div class="block-subtitle">
                              <div class="top-subtotal">3 items, <span class="price">$399.49</span></div>
                            </div>
                            <ul class="mini-products-list" id="cart-sidebar">
                              <li class="item">
                                <div class="item-inner"><a class="product-image" title="product tilte is here" href="product-detail.html"><img alt="product tilte is here" src="images/products/product-fashion-1.jpg"></a>
                                  <div class="product-details">
                                    <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="fa fa-pencil"></i><span class="hidden">Edit item</span></a> </div>
                                    <p class="product-name"><a href="product-detail.html">Product tilte is here</a></p>
                                    <strong>1</strong> x <span class="price">$119.99</span></div>
                                </div>
                              </li>
                              <li class="item">
                                <div class="item-inner"><a class="product-image" title="Product tilte is here" href="product-detail.html"><img alt="Product tilte is here" src="images/products/product-fashion-1.jpg"></a>
                                  <div class="product-details">
                                    <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="fa fa-pencil"></i><span class="hidden">Edit item</span></a> </div>
                                    <p class="product-name"><a href="product-detail.html">Product tilte is here</a></p>
                                    <strong>1</strong> x <span class="price">$79.66</span></div>
                                </div>
                              </li>
                              <li class="item">
                                <div class="item-inner"><a class="product-image" title="Product tilte is here" href="product-detail.html"><img alt="Product tilte is here" src="images/products/product-fashion-1.jpg"></a>
                                  <div class="product-details">
                                    <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="fa fa-pencil"></i><span class="hidden">Edit item</span></a> </div>
                                    <p class="product-name"><a href="product-detail.html">Product tilte is here</a></p>
                                    <strong>1</strong> x <span class="price">$99.89</span></div>
                                </div>
                              </li>
                            </ul>
                            <div class="actions"> <a href="shopping-cart.html" class="view-cart"><span>View Cart</span></a>
                              <button onclick="window.location.href='checkout.html'" class="btn-checkout" title="Checkout" type="button"><span>Checkout</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Header Language -->
                  <div class="language-box hidden-xs">
                    <select class="selectpicker" data-width="fit">
                      <option>English</option>
                      <option>Francais</option>
                      <option>German</option>
                      <option>Español</option>
                    </select>
                  </div>
                  <div class="currency-box hidden-xs">
                    <form class="form-inline">
                      <div class="input-group">
                        <div class="currency-addon">
                          <select class="currency-selector">
                            <option data-symbol="$">USD</option>
                            <option data-symbol="€">EUR</option>
                            <option data-symbol="£">GBP</option>
                            <option data-symbol="¥">JPY</option>
                            <option data-symbol="$">CAD</option>
                            <option data-symbol="$">AUD</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                  
                  <!-- End Header Currency --> 
                </div>
              </div>
              <div class="top_section hidden-xs">
                <div class="toplinks">
                  <div class="site-dir hidden-xs"> <a class="hidden-sm" href="#"><i class="fa fa-phone"></i> <strong>Hotline:</strong> +1 123 456 7890</a> <a href="mailto:support@example.com"><i class="fa fa-envelope"></i> support@example.com</a> </div>
                  <ul class="links">
                    <li><a title="My Account" href="my-account.html">My Account</a></li>
                    <li><a title="My Wishlist" href="wishlist.html">Wishlist</a></li>
                    <li><a title="Checkout" href="checkout.html">Checkout</a></li>
                    <li><a title="Track Order" href="track-order.html">Track Order</a></li>
                    <li><a title="Log In" href="login.html">Log In</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header --> 
  
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a href="index.html" title="Go to Home Page">Home</a><span>/</span></li>
            <li class="category13"><strong>Meet the Team</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  
  <div class="block-static block_single">
    <div class="container">
      <h2 class="text-left smaller">OUR AMAZING TEAM </h2>
      <ul class="row amazing-team-list">
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="amazing-team-item"> <a href="#" class="hover"><img src="images/team-img01.jpg" alt=""><span class="overlay">From New York, USA.<br>
            Marketing executive develop’s big ideas for XYZ Softwear company</span></a>
            <h4 class="member-name">John Doe</h4>
            <p class="sub-name">CEO, XYZ Softwear</p>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="amazing-team-item"> <a href="#" class="hover"><img src="images/team-img01.jpg" alt=""><span class="overlay">From Kingston, Canada.<br>
            Marketing executive develop’s big ideas for Company</span></a>
            <h4 class="member-name">Vince Roy </h4>
            <p class="sub-name">CEO, Company</p>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="amazing-team-item"> <a href="#" class="hover"><img src="images/team-img01.jpg" alt=""><span class="overlay">From California, US.<br>
            Marketing executive develop’s big ideas for Newspaper company</span></a>
            <h4 class="member-name">Paulo Moreira</h4>
            <p class="sub-name">CEO, Newspaper</p>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="amazing-team-item"> <a href="#" class="hover"><img src="images/team-img01.jpg" alt=""><span class="overlay">From Bristol, England.<br>
            Marketing executive develop’s big ideas for ABC Softwear company</span></a>
            <h4 class="member-name">Tom Joana</h4>
            <p class="sub-name">CEO, ABC Softwear</p>
          </div>
        </li>
      </ul>
    </div>
    <!--- .container--> 
  </div>
  <div class="block-static block_team block_single">
    <div class="container">
      <h2 class="text-left smaller">OUR PASSIONATE TEAM </h2>
      <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="team_member_list">
        <ul class="row">
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">Art-director</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">Team Leader</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">Paulo Moreira</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">Digital Creative Director</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">Web Designer</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">PHP Developer</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">Accounting</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-md-3 col-sm-4">
            <div class="team_member_item"> <a class="member-thumb" href="#"><img src="images/member-img1.jpg" alt="Member Name"></a>
              <p class="member-name">Member Name</p>
              <p class="sub-name">Testing Developer</p>
              <ul class="team-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer>
    <div class="footer-inner">
      <div class="news-letter">
        <div class="container">
          <div class="heading text-center">
            <h2>Just Subscribe Now!</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere.</span> </div>
          <form>
            <input type="email" placeholder="Enter your email address" required>
            <button type="submit">Send me</button>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <h4>About</h4>
            <div class="contacts-info">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <address>
              <i class="fa fa-location-arrow"></i> <span>Company, 12/34 - West 21st Street,<br>
              New York, USA</span>
              </address>
              <div class="phone-footer"><i class="fa fa-phone"></i> +1 123 456 98765</div>
              <div class="email-footer"><i class="fa fa-envelope"></i> <a href="mailto:support@example.com">support@example.com</a> </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12">
            <h4>Helpful Links</h4>
            <ul class="links">
              <li><a href="#">Products</a></li>
              <li><a href="#">Find a Store</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="sitemap.html">Site Map</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12">
            <h4>Shop</h4>
            <ul class="links">
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="faq.html">FAQs</a></li>
              <li><a href="#">Shipping Methods</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Retailer</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-lg-3 col-md-4 col-sm-6">
            <div class="social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
              </ul>
            </div>
            <div class="payment-accept">
              <h4>Secure Payment</h4>
              <div class="payment-icon"><img src="images/paypal.png" alt="paypal"> <img src="images/visa.png" alt="visa"> <img src="images/american-exp.png" alt="american express"> <img src="images/mastercard.png" alt="mastercard"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12 coppyright text-center">© 2018 Fabulous, All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- JavaScript --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/main.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/mob-menu.js"></script>
</body>
</html>