{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
  <div class="card-details">
        <div class="container">
           <div class="row">
                <div class="col-md-2"></div>
                <div class="card text-center col-md-8">
                    <div class="card-header">
                      <div class="col-md-6" style="padding-left: 20px">
                        <h3>{{ product.name }}</h3>
                        <div class="card-body">
                          <img src="{{ product.Image.url }}" class="card-img" style="width: 15%;">
                      </div>
                        <h6><a href="{{ product.cat.get_absolute_url }}">{{ product.cat }}</a></h6>
                        <p class="text-muted">Kshs. {{ product.price }}</p>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <input type="submit" value="Add to cart" class="btn btn-primary">
                        </form>
                        <p>{{ product.description|safe|linebreaksbr }}</p>
                    </div>
                    
              <div class="clearfix"></div>
           </div>
        </div>
    </div>
{% endblock content %}