/************************
*************************
    JTV Mobile Menu 
 ************************
************************/

html {
	overflow-x: hidden;
}
#page {
	left: 0;
	position: relative;
}
.mmPushBody {
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}
#jtv-mobile-menu {
	background: #292c38;
	border-right: 0px solid #cccccc;
	box-shadow: 0 0px 0px #555555;
	box-sizing: content-box;
	display: none;
	line-height: 1.42857;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	z-index: 99999;
}
.jtv-mobile-menu {
	box-sizing: border-box;
	float: left;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	position: relative;
	width: 100%;
}
.jtv-mobile-menu ul {
	margin-left: 0;
	padding-left: 0;
}
.jtv-mobile-menu ul .expand {
	background: #292c38;
}
.jtv-mobile-menu .mm-search {
	background-color: #292c38;
	box-sizing: border-box;
	color: #555555;
	height: 50px;
	margin-bottom: 5px;
	padding: 5px 10px;
	margin-top: 5px;
}
.jtv-mobile-menu .input-group {
	border-collapse: separate;
	display: table;
	position: relative;
}
.jtv-mobile-menu .input-group .form-control:last-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.jtv-mobile-menu .input-group .form-control {
	display: table-cell;
	float: left;
	height: 36px;
	margin-bottom: 0;
	position: relative;
	width: 100%;
	z-index: 2; padding-left:10px;
}
.jtv-mobile-menu .input-group-btn {
	display: inline-block;
	font-size: 0;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}
.jtv-mobile-menu #search1 input {
	height: 36px;
	margin: 0;
	padding-left: 10px;
	width: 85%;
}
.jtv-mobile-menu #search1 button {
	background: #ffd740;
	border: medium none;
	color: #333;
	display: inline-block;
	float: none;
	line-height: 24px;
	padding: 4px 10px 10px;
	border-radius: 0 3px 3px 0;
}
.jtv-mobile-menu .input-group-btn:first-child > .btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.jtv-mobile-menu .input-group-btn > .btn {
	height: 36px;
	position: relative;
	padding-right: 10px;
    right: 15px;
}
.jtv-mobile-menu .btn {
	background-image: none;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.jtv-mobile-menu .form-control {
	background-color: #fff;
	border: 0 none;
	border-radius: 0;
	color: #555555;
	font-size: 15px;
	height: 18px;
	padding: 6px 0;
}
.jtv-mobile-menu .btn-default {
	background-color: white;
	border: 0 none;
	height: 30px;
	padding: 4px 5px;
}
.jtv-mobile-menu .btn-default:hover {
	color: #014693;
}
.mm-search #search1 {
	width: 100%;
}
.jtv-mobile-menu .btn-default:focus {
	background-color: white;
}
.jtv-mobile-menu .btn-default:active {
	background-color: white;
}
.jtv-mobile-menu .home {
	background-color: #014693;
	color: white;
	overflow: hidden;
}
.jtv-mobile-menu .home i {
	padding-right: 5px;
}
.jtv-mobile-menu .home a.active {
	color: #fff !important;
}
.jtv-mobile-menu .expand {
	border-left: 0px solid #3c404e;
	color: #999;
	margin-left: 20px;
	padding: 0 8px;
	position: absolute;
	right: 0;
	width: 35px; font-size:14px;
}
.jtv-mobile-menu .expand:hover {
	cursor: pointer;
}
.jtv-mobile-menu li {
	border-top: 1px solid #3c404e;
	display: block;
	float: left;
	margin-left: 0;
	padding-left: 0;
	position: relative;
	width: 100%;
}
.jtv-mobile-menu li .home a {
	color: #fff;
}
.jtv-mobile-menu li a {
	color: #979797;
	display: block;
	font-weight: 700;
	overflow: hidden;
	padding: 12px 10px 12px 15px;
	text-decoration: none;
	white-space: normal;
	letter-spacing: 1px; font-size:14px;
}
.jtv-mobile-menu li a.active {
	color: #014693;
}
.jtv-mobile-menu li li {
	background: #292c38;
}
.jtv-mobile-menu li a:hover{background: #494e62; color:#fff;}
.jtv-mobile-menu li li a {
	font-weight: normal;
	padding-left: 25px; text-transform:capitalize;
}
.jtv-mobile-menu li li li {
	background: #292c38;
}
.jtv-mobile-menu li li li a {
	padding-left: 35px;
}
.jtv-mobile-menu .social a {
	float: left;
	margin: 10px 0 10px 15px;
	padding: 0;
}
.jtv-mobile-menu .social i {
	color: #014693;
	font-size: 22px;
}
.jtv-mobile-menu input.simple:focus {
	border: medium none;
	box-shadow: none;
	transition: none 0s ease 0s;
}
.jtv-mobile-menu [class^="icon-"]:before {
	margin-left: 0;
	margin-right: 0;
}
.jtv-mobile-menu [class*=" icon-"]:before {
	margin-left: 0;
	margin-right: 0;
}
.jtv-mob-toggle-wrap {
	background: #fff;
	color: #333;
	line-height: 1;
	overflow: hidden;
	border-radius: 0;
}
.mm-toggle {
	background: #e40046;
	cursor: pointer;
	display: none;
	float: left;
	font-size: 20px;
	padding: 11px 18px;
	width: auto;color: #fff; font-weight:300;
}
.mm-toggle .mm-label {
	display: none;
	font-size: 13px;
	margin-left: 3px;
	text-transform: uppercase;
	vertical-align: middle;
}
#jtv-mobile-menu .top-links {
	display: inline-block;
	width: 100%;
}
#jtv-mobile-menu .top-links .lang-curr {
	border: 0px solid #3c404e;
	float: none;
	margin: auto;
	padding: 12px 15px;
	width: 100%;
}
#jtv-mobile-menu .top-links .form-language {
	border: 0 solid #ececec;
	display: inline;
	float: left;
	margin-left: 0;
	padding-left: 0;
}
#jtv-mobile-menu ul.lang li{ border:none;}
#jtv-mobile-menu .top-links ul.links {
	padding: 0;
}
#jtv-mobile-menu .top-links ul.links a {
	color: #979797;
	text-transform: none;
	letter-spacing: 0.5px; font-size:13px;
}
#jtv-mobile-menu .top-links ul.links a:hover {
	color: #fff;
}
#jtv-mobile-menu .top-links .links li {
	border-bottom: 1px solid #3c404e;
	list-style: outside none none;
	padding: 9px 15px;
}
.jtv-mobile-menu li li a span.fa.fa-plus:before {
	content: "";
}
.jtv-mobile-menu li li a span.fa.fa-plus {
	font-family: inherit;
	padding: 0 !important;
}
.jtv-mobile-menu li a span {
	padding: 0px !important;
	
}
.jtv-mobile-menu li a span.fa.fa-plus:before {
	display: none;
}
.mmPushBody .fa.fa-reorder:before {content: "x";
    font-size: 22px;
    font-family:'Roboto', sans-serif; font-weight:400;}
@media (max-width: 767px) {
.mm-toggle {
	display: block;
}
}
@media (max-width: 480px) {
}
